.app {
    display: block;
    overflow: hidden;
    height: 100vh;

    @media (max-width: 1023px) {
        display: block;
        overflow: auto;
        height: 100%;
    }

    &__column {
        &-image {
            @media (max-width: 1023px) {
                display: none;
            }
        }

        >img {
            @media (max-width: 1023px) {
                display: none;
            }
        }

        &:first-child {
            width: 100%;
            border-right: 1px solid #000;

            @media (max-width: 1023px) {
                width: 100%;
            }
        }

        &:nth-child(2) {
            width: 100%;
            height: 100px;
            position: fixed;
            padding: 0 20px 0 50px;
            bottom: 0;
            display: flex;
            background: #ffffff;
            box-shadow: 0px 16px 5px #29222238, 0px -10px 5px #88888830;
            align-items: center;
            > p{
                font-size: 24px;
                @media (max-width: 767px) {
                    font-size: 16px;
                }
            }
            @media (max-width: 1023px) {
                width: 90%;
                height: 30px;
                padding: 31px 31px;
                display: flex;
                justify-content: center;
                position: fixed;
                z-index: 2;
                bottom: 0;
                background: #fff;
                box-shadow: -1px -10px 5px 0px rgba(0, 0, 0, 0.75);
                -webkit-box-shadow: -1px -10px 5px 0px rgba(0, 0, 0, 0.75);
                -moz-box-shadow: -1px -10px 5px 0px rgba(0, 0, 0, 0.75);

            }
        }
    }

    &__addbutton {
        background: none;
        border: none;
        position: absolute;
        right: 0;
        margin-right: 116px;
        bottom: 10px;

        >img {
            width: 50px;
            cursor: pointer;

            @media (max-width: 1023px) {
                width: 40px;
            }
        }

        @media (max-width: 1023px) {
            right: unset;
            left: unset;
            top: -14px;
            bottom: unset;
            position: relative;
            margin: auto;

        }
    }

    &__editbutton {
        background: none;
        border: none;
        position: relative;
        align-items: end;

        >img {
            width: 20px;
            cursor: pointer;
        }
    }

    &__deletebutton {
        background: none;
        border: none;
        position: relative;
        align-items: end;

        >img {
            width: 20px;
            cursor: pointer;
        }
    }

    &__question {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 88px 50px;

        @media (max-width: 1023px) {
            display: block;
            padding: 80px 30px 190px;
        }

        &-wrapper {
            padding: 10px;
            background: rgba(128, 128, 128, 0.226);
            border-radius: 10px;
            margin: 25px;
        }

        &-inlineactions {
            background: #fff;
            position: absolute;
            top: 0;
            right: -1px;
            padding: 5px;
            display: flex;
            width: 25%;
            justify-content: space-around;
            border-top-right-radius: 30px;
            border-top: 1px solid #800000;
            border-right: 1px solid #800000;
            border-bottom-left-radius: 30px;

            @media (max-width: 1023px) {
                width: 28%;
            }
        }

        &-create {
            padding: 100px 100px 100px 0;
        }



        &-text {
            font-size: 20px;
            font-weight: 700;

        }

        &-answer {
            font-style: italic;
        }

        &-actions {
            padding: 20px 0;

            &-center {
                z-index: 9;
                text-align: end;
                background: transparent;
                position: fixed;
                margin: 10px 0;
                right: 0;
                margin-right: 45px;

                @media (max-width: 1023px) {
                    margin: 10px 25px;
                }
            }

            &-sort {
                padding: 10px 10px;
                box-shadow: none;
                border-radius: 10px;
                cursor: pointer;
                margin: 0 10px;
                border: none;
            }

            &-remove {
                padding: 10px 10px;
                box-shadow: none;
                border-radius: 10px;
                cursor: pointer;
                margin: 0 10px;
                color: #fff;
                border: none;
                background: rgb(226, 43, 67);


            }

            &-create {
                padding: 10px 10px;
                box-shadow: none;
                border-radius: 10px;
                cursor: pointer;
                margin: 10px 0;
                color: #fff;
                border: none;
                background: rgb(3, 129, 20);
            }
        }

        &-qtext {
            width: 90%;
            border-radius: 10px;
            margin: 10px 0;
            padding: 10px 10px;
            border: 1px solid #800;
        }

        &-qtextarea {
            width: 90%;
            border-radius: 10px;
            padding: 10px;
            margin: 10px 0;
            border: 1px solid #800;
        }
    }
}

// base
.flip {
    position: relative;
    box-shadow: 0 30px 50px 0 rgb(119 151 178 / 20%);

    >.front,
    >.back {
        display: block;
        transition-timing-function: cubic-bezier(.175, .885, .32, 1.275);
        transition-duration: 2s;
        transition-property: transform, opacity;
        box-shadow: 0 30px 50px 0 rgb(119 151 178 / 20%);
        cursor: pointer;
    }

    >.front {
        transform: rotateY(0deg);
    }

    >.back {
        position: absolute;
        opacity: 0;
        top: 0px;
        left: 0px;
        width: -webkit-fill-available;
        transform: rotateY(-180deg);

        @media only screen and (min-width: 768px) and (max-width: 1023px) {
            width: -webkit-fill-available;

        }

        @media (max-width: 767px) {
            width: -webkit-fill-available;
        }
    }

    &:hover {
        >.front {
            transform: rotateY(180deg);
        }

        >.back {
            opacity: 1;
            transform: rotateY(0deg);
        }
    }

    &.flip-vertical {
        >.back {
            transform: rotateX(-180deg);
        }

        &:hover {
            >.front {
                transform: rotateX(180deg);
            }

            >.back {
                transform: rotateX(0deg);
            }
        }
    }
}

// custom
.flip {
    position: relative;
    margin-right: 2px;
    margin-bottom: 4em;
    border-radius: 30px;
    width: 31%;


    @media (max-width: 767px) {
        margin-bottom: 1em;
    }

    @media (max-width: 1023px) {
        width: 100%;
    }

    cursor: pointer;

    >.front,
    >.back {
        display: block;
        color: white;
        background-size: cover !important;
        background-position: center !important;
        padding: 10px 40px 70px;
        background: #262d2d;
        height: 200px;
        border-radius: 30px;

        p {
            font-size: 16px;
            line-height: 160%;
            color: #fff;
        }
    }

    >.front {
        background: #800000;
        border-radius: 30px;
    }
}

body {
    margin: 0;
    font-family: 'Montserrat';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }