.app {
    display: flex;

    &__column {
        width: 70%;
        padding: 20px;

        &:first-child {
            width: 30%;
            height: 100vh;
            padding: 20px;
            border-right: 1px solid #000;
        }
    }

    &__question {
        &-wrapper {
            padding: 10px;
            background: rgba(128, 128, 128, 0.226);
            border-radius: 10px;
            margin: 25px;
        }
        &-inlineactions{
            
        }

        &-create{
            padding: 100px 100px 100px 0;
        }

        &-text {
            font-size: 20px;
            font-weight: 700;

        }

        &-answer {
            font-style: italic;
        }

        &-actions {
            padding: 20px 0;

            &-sort {
                padding: 10px 10px;
                box-shadow: none;
                border-radius: 10px;
                cursor: pointer;
                margin: 0 10px;
                border: none;
                background: rgb(43, 189, 226);

                &:hover {
                    scale: 2;
                }
            }

            &-remove {
                padding: 10px 10px;
                box-shadow: none;
                border-radius: 10px;
                cursor: pointer;
                margin: 0 10px;
                color: #fff;
                border: none;
                background: rgb(226, 43, 67);

                &:hover {
                    scale: 2;
                }
            }

            &-create {
                padding: 10px 10px;
                box-shadow: none;
                border-radius: 10px;
                cursor: pointer;
                margin: 10px 0;
                color: #fff;
                border: none;
                background: rgb(3, 129, 20);

                &:hover {
                    scale: 2;
                }
            }
        }

        &-qtext {
            width: 100%;
            border-radius: 10px;
            margin: 10px 0;
            padding: 10px 10px;
        }

        &-qtextarea {
            width: 100%;
            border-radius: 10px;
            padding: 10px;
        }
    }
}