// USAGE
// Add the animated-underline element to whichever INLINE! element you want to have an animated underline
// The animate-underline-on-hover mixin is separate to make it easier to nest hovers.

@mixin animated-underline($height: 2px, $direction: right) {
  background-image: linear-gradient(to bottom, currentColor 0%, currentColor 100%);
  background-repeat: no-repeat;
  background-size: 0% $height;

  @if ($direction == right) {
    background-position: 0 100%;
  }
  @if ($direction == left) {
    background-position: 100% 100%;
  }
  transition: background-size $transition-default;
  transition-delay: 150ms;
}
@mixin animate-underline-on-hover($height: 2px) {
  background-size: 100% $height;
}
@mixin static-underline($height: 2px, $backgroundColor: #000) {
  background-image: linear-gradient(to bottom, currentColor 0%, currentColor 100%);
  background-repeat: no-repeat;
  background-size: 100% $height;
  background-position: 100% 100%;

  @include respond-to('small') {
  }
}
@mixin sr-only {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
@mixin animate-card-on-hover {
  &::before {
    transform: scale(0.74) translateX(25%) translateY(10%);
    border-radius: 50%;
    opacity: 1;
  }
}
@mixin animate-card {
  position: relative;
  overflow: hidden;

  &:before {
    position: absolute;
    top: -150%;
    left: -150%;
    width: 300%;
    height: 300%;
    background: $orange;
    border-radius: 50%;
    transform: scale(0) translateX(0) translateY(0);
    transition: all 0.4s ease;
    content: '';
    z-index: 1;
  }
}
@mixin font-style-big {
  font-size: vw(24, 375);
  line-height: 1.2;

  @include respond-to('small') {
    font-size: vw(40, 1000);
  }
  @include respond-to('medium') {
    font-size: vw(40, 1200);
  }
  @include respond-to('large') {
    font-size: vw(40, 1440);
  }
}
@mixin font-style-h4 {
  font-size: vw(16, 375);

  @include respond-to('small') {
    font-size: vw(16, 1000);
  }
  @include respond-to('medium') {
    font-size: vw(16, 1200);
  }
  @include respond-to('large') {
    font-size: vw(16, 1440);
  }
}

/* autoprefixer: off */
@mixin clamp-text($lines: 2) {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lines;
}
