.site-modal {
  width: 400px;
  margin: 0 auto;
  background: #fff;
  border-radius: 30px;
  padding: 30px;
  box-shadow: 0 30px 50px 0 rgba(119, 151, 178, 0.2);
  @media (max-width: 1023px) {
    width: 70%;

}
  .w-full {
    overflow-y: scroll;
    max-height: 600px;
  }
}